.App {
  height: 100vh;
  color: white;
  font-size: 24px;
  background: linear-gradient(90deg, rgba(64,56,190,1) 0%, rgba(240,124,168,1) 100%, rgba(238,85,136,1) 100%);
  font-family: 'Noto Sans TC', sans-serif;
  .page {
    padding: 40px;
  }
}